All my Workhours 

<% @workhour.each do |workhour| %>
   <p>Workhours Task: <%= workhour.name %> </p>
   <p>Total Ammount: <%= workhour.amount %> </p>
   <p>Created At: <%= workhour.created_at %> </p>
   <p>First group Icon: <%= workhour.first_group_icon %> </p>
<% end %>

<%= link_to 'Add new Workhours', new_workhour_path %>