All my External Workhours 


<% @workhour.each do |workhour| %>
   <p>Workhours Task: <%= workhour.name %> </p>
   <p>Total Ammount: <%= workhour.amount %> </p>
   <p>Created At: <%= workhour.created_at %> </p>
   <p>First group Icon: <%= workhour.first_group_icon %> </p>
<% end %>
<%  %>
<%  %>
<%=  %>
<%= link_to 'Add new Workhours', new_workhour_path %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%# -Total ammount
-List of workhours spent per task (list of transactions) by current user, ordered by most recent, but not assigned to any group
- Each transaction displays [name, ammount, date, icon of first group it has been assigned to] %>