Group Workhours


<% @group.workhours.each do |group| %>
   <p>Created by: <%= group.user.name %> </p>
   <p>Group Name: <%= group.name %> </p>
   <p>Created At: <%= group.created_at %> </p>
   <p>Group Icon: <%= group.icon %> </p>
    <%# <%= link_to 'Add Workhours to group', group_path(group) %> %>
<% end %>


<%= link_to 'Create new Group', new_group_path %>