
<nav>
      <div class="my-dropdown">
        <button class="dropbtn" onclick="myFunction()">
          <i class="fas fa-bars fa-lg"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
          <%= link_to 'My Profile', root_path %>
          <%= menu_link_to 'All my Workhours', workhours_path %>
          <%= menu_link_to 'Unassigned Workhours', index_external_path %>
          <%= menu_link_to 'All groups', groups_path %>
          <a href="#">Monthly Report</a>
          <br />
          <% if current_user %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign in', user_session_path %>
          <% end %>
        </div>
      </div>
      <a class="mid-screen">All My Transactions</a>
    </nav>


