<!DOCTYPE html>
<html>
  <head>
    <title>WorkHoursProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:image" content="https://i.postimg.cc/NLkCJJQ3/screenshot.jpg">
    <a href='https://postimg.cc/NLkCJJQ3' target='_blank'><img src='' border='0' alt='screenshot'/></a>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/93e2543f5e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/navbar'  %>  
    
    <% if notice.present? %>
      <div class="notice">
        <p> <%= notice %> </p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert">
        <p> <%= alert %> </p>
      </div>
    <% end %>


    <main class="main">
      <%= yield %>
    </main>
  </body>
</html>
